.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;

}
.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.h3{
    text-align: center;
    font-size: 80%;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #f0f0f0;
}
.text{
    text-align: start;
}